

            body {
                font-family: 'Crete Round', arial, helvetica, sans-serif;
                background-image: url("images/background-image.jpg");
                background-size: cover; 
                background-repeat: no-repeat;
                background-attachment: fixed;
                text-align: center;
                
            }
            h1 {
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 56px;
                text-align: center;
            }

            .header {
                background-color: #009dff; 
                width: 100%;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                border-radius: 2px;
            }

            h2 {
                color: #009dff;
            }

            a {
                text-decoration: none;
                font-size: 2em;
            }

            p {
                text-align: center;
            }

            form {
                float: center;
                font-size: 2em;
            }

            span {
                max-width: 80%;
                border: none;
                border-bottom: 2px solid #D4D4D4;
                padding: 4px;
                font-family: inherit;
                float: center;
                font-size: .5em;
                color: #A9A9A9;
            }

            button {
                background-color: #82430C;
                font-family: 'Crete Round', arial, helvetica, sans-sarif; 
                color: white;
                border: 0;
                font-size: 2em;
                border-radius: 2px;
                padding: 5px;
                width: 80%;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }

            input[type="text"]{
                border: none;
                border-bottom: 2px solid #D4D4D4;
                padding: 8px;
                font-family: inherit;
            }

            textarea {
                border: none;
                border-bottom: 2px solid #D4D4D4;
                font-family: inherit;
            }

            input[type="text"], textarea {
                font-size: 1em;
                width: 80%;
            }

            .card {
                background-color: white;
                border-radius: 2px;
                margin: 0 auto;
                position: relative;
                padding-bottom: 2px;
                color: black;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                text-align: center;
                max-width: 800px;
            }


            .container{
                max-width: 400px;
                background-color: black;
                margin: 0 auto;
                text-align: center;
                position: relative;
                
            }

            .container div {
                background-color: white;
                width: 100%;
                display: inline-block;
            }

            .container img{
                width: 100%;
                height: auto;
            }

            @media only screen and (max-width: 640px) {

                p {
                    font-size: 1.5em;
                    /*-webkit-text-size-adjust: auto; */
                }

                input[type="text"] textarea {
                    font-size: 1.5em;
                    /*-webkit-text-size-adjust: auto;*/
                }
            }
